lib/
.svn
# Maven
log/
target/
/*.properties

# Eclipse workspace
.classpath
.project
.settings/
.metadata
/RemoteSystemsTempFiles
.xml/
*.NavData
nb-configuration.xml
# IntelliJ IDEA workspace
*.ipr
*.iml
*.iws
.idea/
/test-output

# NetBeans workspace
.nb-gradle

# OS-specific files
.DS_Store
Icon*i
.attach_pid*
